<a href="https://colab.research.google.com/github/r73psv/1/blob/master/2_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# загружаем данные
houses = pd.read_csv("houses.csv")

In [ ]:
houses.head(7)

   dim_1  dim_2   level   price
0     29     28  luxury  2212.0
1     28     29  luxury  2203.0
2      6      9   basic   254.0
3      5      9   basic   242.0
4      6      6   basic   195.0
5      5      8   basic   200.0
6     27     29  luxury  2108.0

In [ ]:
# импортируем модуль, отвечающий за деревья решений
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_text

In [ ]:
# выгружаем признаки и целевые значения в отдельные переменные
X = houses[["dim_1", "dim_2"]]
y = houses["level"]

# создаем классификатор
cl = DecisionTreeClassifier().fit(X, y)

In [ ]:
# выведем информацию для интерпретации построенной модели
print(export_text(cl))

|--- feature_0 <= 10.00
|   |--- class: basic
|--- feature_0 >  10.00
|   |--- feature_1 <= 25.00
|   |   |--- class: medium
|   |--- feature_1 >  25.00
|   |   |--- class: luxury

In [ ]:
# проведем классификацию
cl.predict(X[7:8])[0], y[7]

('medium', 'medium')